.title {
    position: absolute;
    font-weight: bold;
    font-family: Helvetica;
    font-size: 3vw;
    color: white;
    left: 8vh;
    top: 5vh;
}
.tag {
    position: absolute;
    font-weight: bold;
    font-family: Helvetica;
    font-size: 1.5vw;
    color: white;
    left: 8vh;
    top: 12vh;
}
.background {
    color:white;
    font-family: Helvetica;
}

.main-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.left-container {
    display: flex;
    text-align: center;
    margin-top: 4vh;
    margin-left: 12vh;
    margin-right: 2vw;
}

.list-container {
    display: flex;
    margin-top: 4vh;
    flex-direction: column;
    justify-content: center;
}

.canvas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
}
