.title {
    position: absolute;
    font-weight: bold;
    font-family: Helvetica;
    font-size: 40px;
    color: white;
    left: 8vh;
    top: 8vh;
}

.background {
    color:white;
    font-family: Helvetica;
}

.main-container {
    display:flex;
}

.left-container {
    display: flex;
    text-align: center;
    margin-top: 15vh;
    margin-left: 12vh;
}

.canvas-container {
    margin-left: 4vh;
}
