/*scroll*/
.box-frame {
    overflow:scroll;
    overflow-x:hidden;
    direction: rtl;
}
::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #D9D9D9;

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.box-frame .search-bar {
  direction: ltr;
  margin-bottom: 8%;
  margin-top: 8%;
}

.box-frame .icons-grid {
  justify-content: space-between;
  align-items: center;
  direction: ltr; 
}

.search {
  width: 8vw;
  height: 1.2vw;
  font-size: 0.8vw;
}