html, body {
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    overflow: hidden;
    left: 0%;
    bottom: -10%
}