.PSDoodle{
    position: relative;
    padding-left: 50%;
    font-weight: bold;
}
.main-frame{
    color:white;
}


.idk {
    justify-content: center;
    display:flex;
    align-items: center;
    margin-right: auto;
    text-align: center;
    color: black
    
    
}